# Core functionality - changes here should be rare!
/src/app.py                   @Sandhiya-0
/src/backend/database.py      @Sandhiya-0
/src/backend/routers/auth.py  @Sandhiya-0
# The frontend will need refactored soon to be more object oriented.
/src/static/   @Sandhiya-0
